section {
    border: 1px solid lightgray;
    margin: 30px 100px 0 100px;
    padding-left: 20px;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 25px darkgray;
}
img{
	width : 80px;
}
h2 {
    padding-top: 2%;
}

#butt,
#butt:hover {
    display: block;
    margin-top: 2%;
    padding-right: 48%;
    padding-left: 48%;
    width: 100%;
    display: inline-block;
}

#back {
    text-decoration: none;
    color: white;
    text-align: center;
}

.lienSection:target {

    background-color: #73C2FB;
}

footer {
	width: auto;
	padding: 20px;
	background-color: black;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer h3 {
	color: #dd23a7;
}
footer p {
	cursor: pointer;
	color: #ccc;
}
footer p:hover {
	color: white;
}
.Réseaux a {
	color: lightgrey;
	text-decoration: none;
}
.Réseaux a:hover {
	color: white;
}